/* *******************************************IMPORT STATEMENTS******************************************* */

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* *******************************************FONTS******************************************* */

@font-face {
  font-family: 'angars-runes';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/angars_ruins/AngarsRunes.woff2') format('woff2'),
    url('../assets/angars_ruins/AngarsRunes.woff') format('woff');
}

/* *******************************************VARIABLES******************************************* */

:root {
  /* Color Theme Swatches in Hex */
  --dark-blue-hex: #1A1E26;
  --medium-blue-hex: #465E73;
  --light-blue-hex: #6D8BA6;
  --royal-brown-hex: #433626;
  --sand-hex: #D9B68B;

  /* Color Theme Swatches in RGBA */
  --dark-blue-rgba: rgba(26, 30, 38, 1);
  --medium-blue-rgba: rgba(70, 94, 115, 1);
  --light-blue-rgba: rgba(109, 139, 166, 1);
  --royal-brown-rgba: rgba(67, 54, 38, 1);
  --sand-rgba: rgba(217, 182, 139, 1);

  /* Color Theme Swatches in HSLA */
  --dark-blue-hsla: hsla(219, 18, 12, 1);
  --medium-blue-hsla: hsla(208, 24, 36, 1);
  --light-blue-hsla: hsla(208, 24, 53, 1);
  --royal-brown-hsla: hsla(33, 27, 20, 1);
  --sand-hsla: hsla(33, 50, 69, 1);

  /* box shadows */
  --shadow-color: 220deg 30% 4%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* *******************************************NORMALIZING******************************************* */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* 
* {
  border: 1px solid red;
} */

/* *******************************************ELEMENTS******************************************* */
blockquote {
  border-left: 2px solid var(--sand-hex);
  padding-left: 3em;
  margin-bottom: 2rem;
}

body {
  background: linear-gradient(to right, #1C1B17 0%, 14.319808781147003%, #5E7386 28.639617562294006%, 64.319808781147%, #0D0E12 100%);
  background-image: url('../assets/assets/AdobeStock_460700032.jpeg');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

button {
  background-color: #fcc02a;
  border: 2px solid #963404;
  border-radius: 6px;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
  color: #963404;
  cursor: pointer;
  display: inline-block;
  font-family: 'MedievalSharp', cursive;
  height: 9vh;
  margin-top: .5rem;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

footer>div>p {
  color: var(--sand-hex);
  border-left: 1px solid var(--sand-hex);
  width: 100%;
  text-align: center;
}

footer>div:nth-child(1) {
  border: none;
}

footer>div>p>a {
  color: var(--sand-hex);
}

html {
  font-family: 'Aboreto', cursive;
}

i {
  font-size: 1.8rem;
  text-shadow: 0px 0px 10px rgb(248 248 248);
  transition: ease 250ms;
}

i:hover,
i:focus {
  font-size: 3rem;
}

img {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border: solid rgba(67, 54, 38, .30) 5px;
  border-radius: 25px;
  box-shadow: var(--shadow-elevation-medium);
  height: 60vh;
  max-width: 95vw;
  width: auto;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  left: 0px;
  padding: 2rem 3rem;
  position: fixed;
  top: 0px;
  transition: ease 250ms;
  width: 5vw;
  z-index: 20;
}

nav:hover,
nav:focus {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

nav>p {
  color: var(--sand-hex);
  font-size: 12px;
}

ul>li>q>em {
  margin-bottom: 2em;
}

video {
  bottom: 100vh;
  left: 0;
  opacity: .4;
  position: fixed;
  right: 100vw;
  top: 0;
  z-index: -200;
  min-width: 100vw;
}

/* *******************************************Classes arranged alphabeticallys******************************************* */
.actions-container {
  margin: 2em 0em 0em 0em;
  width: 80%;
  margin: 2em auto auto auto;
}

.angars-ruins {
  font-family: angars-runes;
}

.attack-button {
  background: linear-gradient(145deg, #f0f0f030, #cacaca29);
  border: 2px solid aliceblue;
  border-radius: 0px;
  box-shadow: 3px 3px 7px #c1c1c1, -3px -3px 7px #ffffff;
  color: white;
  font-weight: 900;
  left: calc(50vw - 7vw);
  margin: auto;
  padding: 1em 2em;
  position: absolute;
  text-align: center;
  top: 102vh;
  transition: all 1s ease;
  width: 14vw;
}

.attack-button:hover {
  color: white;
  border-radius: 0px;
  background: linear-gradient(145deg, #f0f0f030, #cacaca29);
  box-shadow: 1px 1px 3px #c1c1c1, -1px -1px 3px #ffffff;
  background-color: var(--royal-brown-hex);
  transition: all 1s ease;
}

.attack-defend-label {
  color: var(--sand-hex);
  width: 100%;
}

.attributes {
  color: var(--light-blue-hex);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 2.0;
}

.attributes-value {
  margin: 0em 0em 0em 1em;
}

.attributes-key {
  color: var(--sand-hex);
  font-weight: 900;
}

.backlight {
  animation-name: backlight;
  animation-duration: 10250ms;
}

.belligerent {
  color: var(--light-blue-hex);
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

.bold-underline {
  font-weight: 900;
  text-decoration: underline;
}

.both-dice-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 70%;
  margin: auto;
  grid-row: 7/8;
}

.c1 {
  grid-area: 1, 2;
  grid-area: 1 / 2;
}

.c2 {
  grid-area: 1, 2;
  grid-area: 1 / 2;
}

.character-art {
  /* max-height: min-content; */
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 10em auto 2em;
}

.character-art>h4 {
  width: 100%;
  font-size: 3em;
  /* margin-bottom: 1em; */
  color: white;
  text-align: center;
  margin-top: .5em;
  opacity: .9;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}

.character-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: 1em repeat(6, 1fr) 1em;
  grid-template-columns: repeat(3, 1fr);
  max-height: 100vh;
  grid-row: 2 / -1;
  grid-column: 1 / 1;
}

.character-stats--container {
  order: -1;
  flex-shrink: 1;
  flex-basis: min-content;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin: 0px;
  min-height: 60vh;
  padding: 1em;
}

.character-stats--health {
  backdrop-filter: saturate(100%) blur(10px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d8e4f0;
  color: #fff0;
  font-size: 4em;
  font-weight: 900;
  grid-row: 5 / 7;
  grid-column: 1 / -1;
  /* background: rgba(171, 171, 171, 0.8); */
  margin: auto;
  opacity: .5;
  text-align: center;
  text-shadow: 3px 2px 3px rgba(216, 228, 240, 0.3);
  width: 100%;
}

.credits-modal {
  width: 50%;
}

.credits-modal>h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.credits-modal>p {
  font-size: .70rem;
  color: white;
  margin-bottom: .25rem;
}

.credits-modal>ul {
  list-style: none;
}

.credits-modal>ul>li::before {
  content: '($)';
  margin-right: 4px;
  font-family: angars-runes;
  font-size: 2em;
  position: absolute;
  transform: translateX(-2em) translateY(-8px);
}

.credits-modal>ul>li {
  margin-bottom: 2em;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.credits-modal>ul>li>p {
  margin-bottom: 2em;
}

.credits-modal-container {
  display: flex;
  justify-content: center;
}

.ofslægen-slain {
  color: white;
  font-weight: 900;
  text-decoration: line-through;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

.dice,
.placeholder-dice {
  height: 5.5vh;
  width: 5.5vh;
  background: #fff;
  border-radius: 9px;
  color: #000721;
  /* text-align: center; */
  /* line-height: 5.5vh; */
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.middle-third-right-column>.character-art>.character-card>.both-dice-container>.dice-container>.real-dice-container>.dice:not(.defend-dice) {
  background: linear-gradient(145deg, #767676, #1e1e1e);

}


.dice:nth-child(1) {
  color: black;
}

.dice-container {
  height: fit-content;
  background: #ffffff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  gap: 1em;
}

.dice-inset {
  height: 4vh;
  width: 4vh;
  margin: auto;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #d0c4c4, inset -5px -5px 10px #f0f0f0;
  z-index: 9;
  line-height: 4vh;
  color: var(--sand-hex);
  font-size: 1.5em;
  vertical-align: center;
  text-align: center;
}

.middle-third-right-column>.character-art>.character-card>.both-dice-container>.dice-container>.real-dice-container>.dice>.dice-inset:not(.defend-dice > .dice-inset) {
  height: 4vh;
  width: 4vh;
  margin: auto;
  top: 7px;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px #474242, inset -5px -5px 10px #696969;
  z-index: 9;
  line-height: 4vh;
  color: var(--sand-hex);
  background: none;
  font-size: 1.5em;
  text-align: center;
}

.defend-dice>.dice-inset {
  background: #d04f4f;
  box-shadow: inset 5px 5px 10px #675858, inset -5px -5px 10px #e17979;
  text-align: center;
}

.dice-container .placeholder-dice {
  background-color: transparent;
}

.display-none {
  display: none;
}

.distraught {
  color: #BF0404;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

.credits-modal>.exit-button {
  font-size: 5rem;
  color: var(--sand-hex);
  position: sticky;
  top: 0rem;
  left: 5vw;
  transform: translateX(-21vw) translateY(-5vh);
  cursor: pointer;
}

.exit-button:hover {
  color: var(--light-blue-hex);
}

.extended {
  left: 0;
  position: fixed;
  width: auto;
}

.footer {
  align-content: baseline;
  background-color: var(--royal-brown-hex);
  bottom: 0vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 4em;
  justify-content: space-evenly;
  min-width: 100vw;
  /* padding: 1em; */
  position: sticky;
  z-index: 100;
  /* align-content: center; */
  align-items: center;
}

.footer-contents-container {
  border: 2px solid white;
  padding: 1em;
}

.footer-info {
  border-left: 1px solid var(--sand-hex);
  width: 25%;
}

.footer-logo {
  box-sizing: border-box;
  color: var(--royal-brown-hex);
  font-size: 2rem;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.footer-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.flip-card {
  background-color: transparent;
  flex-grow: 2;
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  /* Remove this if you don't want the 3D effect */
  perspective: 1000px;
  transform: perspective(1100px) rotate3d(0, 1, 0, 170deg);
  -webkit-transform: perspective(1100px) rotate3d(0, 1, 0, 170deg);
}

.flip-card-inner {
  min-height: 100%;
  position: relative;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  backface-visibility: hidden;
  transform: perspective(1100px) rotate3d(0, 1, 0, 180deg);
  -webkit-transform: perspective(1100px) rotate3d(0, 1, 0, 180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  width: 100%;
}

.flip-card-front:hover,
.flip-card-back:hover {
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #E4E3E9;
  color: var(--sand-hex);
  line-height: 1.5;
  min-height: 60vh;
  padding: 2em;
  transform: perspective(1100px) rotate3d(0, 1, 0, -170deg);
  -webkit-transform: perspective(1100px) rotate3d(0, 1, 0, -170deg);
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  width: 100%;
}

.flip-card-back>p {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.fi-rr-dice-d4::before {
  content: "\f403";
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

.highlighted {
  border: 2px solid rgb(77, 175, 247);
  box-shadow: 1px 1px 5px #5b4ad0, -1px -1px 5px #916ef2;
  box-sizing: content-box;
}

.history {
  cursor: pointer;
}

.intro-modal {
  animation: 69000ms linear identifier;
  background-color: rgba(1, 1, 1, 0.5);
  display: block;
  left: 0;
  min-height: 100vh;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  /* take out display:none when ready for production */
  /* display: none; */
}

.intro-modal-text-container {
  animation: 69000ms linear scroll;
  border-left: 20px solid var(--sand-hex);
  color: white;
  font-family: 'Aboreto';
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 60%;
  margin: auto auto auto 10%;
  padding: 0em 25% 0em 5%;
  position: absolute;
  top: 101vh;
  /* take out display:none when ready for production */
  /* display: none; */
}

.intro-modal-text-container>.bold {
  color: var(--sand-hex);
  font-style: unset;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 6rem;
}

.intro-modal-text-container>p {
  font-style: italic;
  margin-bottom: 1rem;
  line-height: 2.0rem;
  text-transform: capitalize;
}

.main-container {
  height: 100vh;
  padding-top: 2rem;
  width: 100vw;
}

.message {
  font-size: 2em;
  height: auto;
  text-align: center;
}

.middle-third {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.middle-third-left-column {
  border: 5px solid var(--royal-brown-hex);
  box-shadow: 0px 0px 30px white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}

.middle-third-right-column {
  border: 5px solid var(--royal-brown-hex);
  box-shadow: 0px 0px 30px #9a1919;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 40%;
}

.modal-height {
  background-color: white;
  backdrop-filter: blur(5px);
  color: var(--sand-hex);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10rem 1rem;
  position: absolute;
  top: -100vh;
  width: 100vw;
  left: 0;
  overflow: scroll;
  z-index: 1000;
  min-height: fit-content;
}

.nav--toaster-text {
  background-color: red;
  color: white;
  font-size: 1.5rem;
  left: -100vw;
  min-width: 100vw;
  position: absolute;
  top: 1.5rem;
  transition: all 1s linear;
  z-index: 100;
}

.power-hit-hero {
  color: var(--sand-hex);
  font-size: .9em;
  opacity: .7;
  margin-bottom: 1em;
}

.power-hit-hero-container {
  width: 100%;
  position: absolute;
  left: -50vw;
  top: -35vh;
  z-index: 200;
  background-color: var(--dark-blue-hex);
  width: 14vw;
  animation: fly-in-left 4500ms linear;
  padding: 2em;
  border: 5px inset;
  color: var(--sand-hex);
}

.power-hit-villain {
  color: var(--sand-hex);
  font-size: .9em;
  opacity: .7;
  margin-bottom: 1em;
}

.power-hit-villain-container {
  width: 100%;
  position: absolute;
  right: -50vw;
  top: -35vh;
  z-index: 200;
  background-color: var(--dark-blue-hex);
  width: 14vw;
  animation: fly-in-right 4500ms linear;
  padding: 2em;
  border: 5px inset;
  color: var(--sand-hex);
}

.real-dice-container>.defend-dice {
  background: linear-gradient(145deg, #e17373, #673333);
  box-shadow: 1px 1px 2px #e16f6f, -1px -1px 2px #f6a2a2;
}

.real-dice-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: end;
  justify-self: self-end;
  min-width: fit-content;
}

.roll-animation {
  animation: roll 2s linear;
}

.title {
  color: var(--royal-brown-hex);
  font-size: 8rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.top-third {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 100%;
}

.unwielding {
  color: #F2A341;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

@keyframes backlight {
  0% {
    text-shadow: -12px 0px 10px rgb(248 248 248)
  }

  50% {
    text-shadow: 12px 0px 2px rgb(169 201 215)
  }

  100% {
    text-shadow: 0px 0px 10px rgb(248 248 248)
  }
}


@keyframes indexfade {
  0% {
    z-index: 21;
  }

  99% {
    z-index: 21;
  }

  100% {
    z-index: -20;
  }
}

@keyframes identifier {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(360)
  }

  75% {
    transform: rotateZ(540deg);
  }

  88% {
    transform: rotateZ(675deg)
  }

  94% {
    transform: rotateZ(697deg)
  }

  100% {
    transform: rotateZ(720deg)
  }
}

@keyframes scroll {
  0% {
    top: 101vh;
    z-index: 50;
  }

  99% {
    z-index: 50;
  }

  100% {
    top: -250vh;
    z-index: 0;
  }
}

@keyframes fly-in-right {
  0% {
    right: -50vw;
  }

  20% {
    right: -13.5vw;
  }

  80% {
    right: -13.5vw;
  }

  100% {
    right: -50vw
  }
}

@keyframes fly-in-left {
  0% {
    left: -50vw;
  }

  20% {
    left: -13.5vw;
  }

  80% {
    left: -13.5vw;
  }

  100% {
    left: -50vw
  }
}