/* *******************************************IMPORT STATEMENTS******************************************* */

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* *******************************************FONTS******************************************* */

@font-face {
  font-family: 'angars-runes';
  src: url('../assets/angars_ruins/AngarsRunes.woff2') format('woff2'),
    url('../assets/angars_ruins/AngarsRunes.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* *******************************************VARIABLES******************************************* */

:root {
  /* Color Theme Swatches in Hex */
  --dark-blue-hex: #1A1E26;
  --medium-blue-hex: #465E73;
  --light-blue-hex: #6D8BA6;
  --royal-brown-hex: #433626;
  --sand-hex: #D9B68B;

  /* Color Theme Swatches in RGBA */
  --dark-blue-rgba: rgba(26, 30, 38, 1);
  --medium-blue-rgba: rgba(70, 94, 115, 1);
  --light-blue-rgba: rgba(109, 139, 166, 1);
  --royal-brown-rgba: rgba(67, 54, 38, 1);
  --sand-rgba: rgba(217, 182, 139, 1);

  /* Color Theme Swatches in HSLA */
  --dark-blue-hsla: hsla(219, 18, 12, 1);
  --medium-blue-hsla: hsla(208, 24, 36, 1);
  --light-blue-hsla: hsla(208, 24, 53, 1);
  --royal-brown-hsla: hsla(33, 27, 20, 1);
  --sand-hsla: hsla(33, 50, 69, 1);

  /* box shadows */
  --shadow-color: 220deg 30% 4%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* *******************************************NORMALIZING******************************************* */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* *******************************************ELEMENTS******************************************* */
body {
  background: linear-gradient(to right, #1C1B17 0%, 14.319808781147003%, #5E7386 28.639617562294006%, 64.319808781147%, #0D0E12 100%);
  background-image: url('../assets/assets/AdobeStock_460700032.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

html {
  font-family: 'Aboreto', cursive;
}

i {
  text-shadow: 0px 0px 10px rgb(248 248 248);
  font-size: 1.8rem;
  transition: ease 250ms;
}

i:hover,
i:focus {
  font-size: 3rem;
}

img {
  border-radius: 25px;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  height: 60vh;
  width: auto;
  max-width: 95vw;
  transform: perspective(1100px)rotate3d(0, 1, 0, 160deg) translate(2%, -3%);
  border: solid rgba(67, 54, 38, .30) 5px;
  min-width: 100%;
}

img:hover {
  border-radius: 25px;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  height: 60vh;
  width: auto;
  max-width: 95vw;
  transform: perspective(1100px)rotate3d(0, 1, 0, 180deg) translate(2%, -3%);
  border: solid rgba(67, 54, 38, .30) 5px;
  min-width: 100%;
}

nav {
  padding: 2rem 3rem;
  position: fixed;
  height: 100vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: ease 250ms;
  top: 0px;
  left: 0px;
  z-index: 20;
}

nav:hover,
nav:focus {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

nav>p {
  font-size: 12px;
  color: var(--sand-hex)
}

video {
  position: absolute;
  z-index: -200;
  opacity: .4;
  top: 0;
  bottom: 100vh;
  left: 0;
  right: 100vw;
}

/* *******************************************IMPORT STATEMENTS******************************************* */
.angars-ruins {
  font-family: angars-runes;
}

.attributes {
  color: #ffffffd6;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 2.0;
}

.attributes-value {
  margin: 0em 0em 0em 1em;
}

.attributes-key {
  font-weight: 900;
}

.backlight {
  animation-name: backlight;
  animation-duration: 10250ms;
}

.c1 {
  grid-area: 1, 2;
  grid-area: 1 / 2;
}

.c2 {
  grid-area: 1, 2;
  grid-area: 1 / 2;
}

.character-art>h4 {
  width: 100%;
  font-size: 3em;
  margin-bottom: 2em;
  color: #ffffff82;
  text-align: center;
  margin-top: .5em;
}

.character-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-stats--container {
  order: -1;
  flex-shrink: 1;
  flex-basis: min-content;
  margin: 0px;
  flex-grow: 1;
  padding: 1em;
}

.character-stats--health {
  width: 100%;
  font-size: 4em;
  text-align: center;
  padding: .5em;
  font-weight: 900;
  color: white;
  box-shadow: ;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d8e4f0;
  text-shadow: 3px 2px 3px rgba(216, 228, 240, 0.3);
  color: #fff0;
  /* background: rgba(171, 171, 171, 0.8); */
  backdrop-filter: saturate(100%) blur(10px);
  opacity: .5;
  margin: auto;
}

.credits-modal>p {
  font-size: .70rem;
  color: white;
  margin-bottom: .25rem;
}

.credits-modal-container {
  display: flex;
  justify-content: center;
}

.dice,
.placeholder-dice {
  height: 5.5vh;
  width: 5.5vh;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  color: #000721;
  text-align: center;
  line-height: 6vh;
}

.dice-container {
  height: fit-content;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  align-self: flex-end;
  width: 100%;
}

.dice-container .placeholder-dice {
  background-color: transparent;
}

button {
  margin-top: .5rem;
  font-family: 'MedievalSharp', cursive;
  background-color: #fcc02a;
  border: 2px solid #963404;
  outline: none;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  color: #963404;
  height: 9vh;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

.display-none {
  display: none;
}

.footer-slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.intro-modal {
  background-color: rgba(1, 1, 1, 0.5);
  height: 100vh;
  width: 100vw;
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 50;
  overflow: hidden;
  animation: 44000ms linear identifier;
}

.intro-modal-text-container {
  color: white;
  font-family: 'Aboreto';
  font-size: 1rem;
  left: 10%;
  line-height: 1.5rem;
  max-width: 65%;
  margin: auto;
  position: absolute;
  top: 101vh;
  animation: 48000ms linear scroll;
  /* turned off during testing so I don't have to see the scrolling menu every time */
}

.intro-modal-text-container>p {
  margin-bottom: 1rem;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1em repeat(auto-fill, 100px) 1em;
  grid-template-columns: 1em repeat(18, auto 1fr) 1em;
}

.middle-third {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  grid-row: 3 / 10;
  grid-column: 2 / 38;
}

.middle-third-left-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  border: 5px solid var(--royal-brown-hex);
}

.middle-third-right-column {
  width: 40%;
  flex-shrink: 1;
  border: 5px solid var(--royal-brown-hex);
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

.modal-height {
  padding: 1rem;
  position: absolute;
  height: 195px;
  top: calc(100vh - (195px + 2rem));
  width: calc(100vw - 2rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.title {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 3px;
  color: var(--royal-brown-hex);
  text-shadow: 0px 0px 10px rgba(248, 248, 248, 1);
}

.top-third {
  grid-row: 2 / 3;
  width: 100%;
  grid-column: 1 / -1;
}

@keyframes backlight {
  0% {
    text-shadow: -12px 0px 10px rgb(248 248 248)
  }

  50% {
    text-shadow: 12px 0px 2px rgb(169 201 215)
  }

  100% {
    text-shadow: 0px 0px 10px rgb(248 248 248)
  }
}

@keyframes scroll {
  0% {
    top: 101vh;
  }

  100% {
    top: -115vh;
  }
}

@keyframes indexfade {
  0% {
    z-index: 21;
  }

  99% {
    z-index: 21;
  }

  100% {
    z-index: -20;
  }
}

@keyframes identifier {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}