/* *******************************************IMPORT STATEMENTS******************************************* */

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* *******************************************FONTS******************************************* */

@font-face {
    font-family: 'angars-runes';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/angars_ruins/AngarsRunes.woff2') format('woff2'),
        url('../assets/angars_ruins/AngarsRunes.woff') format('woff');
}

/* *******************************************VARIABLES******************************************* */

:root {
    /* Color Theme Swatches in Hex */
    --dark-blue-hex: #1A1E26;
    --medium-blue-hex: #465E73;
    --light-blue-hex: #6D8BA6;
    --royal-brown-hex: #433626;
    --sand-hex: #D9B68B;

    /* Color Theme Swatches in RGBA */
    --dark-blue-rgba: rgba(26, 30, 38, 1);
    --medium-blue-rgba: rgba(70, 94, 115, 1);
    --light-blue-rgba: rgba(109, 139, 166, 1);
    --royal-brown-rgba: rgba(67, 54, 38, 1);
    --sand-rgba: rgba(217, 182, 139, 1);

    /* Color Theme Swatches in HSLA */
    --dark-blue-hsla: hsla(219, 18, 12, 1);
    --medium-blue-hsla: hsla(208, 24, 36, 1);
    --light-blue-hsla: hsla(208, 24, 53, 1);
    --royal-brown-hsla: hsla(33, 27, 20, 1);
    --sand-hsla: hsla(33, 50, 69, 1);

    /* box shadows */
    --shadow-color: 220deg 30% 4%;
    --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
        1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
        2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
        4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
        7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
        11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
        17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
        25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* *******************************************NORMALIZING******************************************* */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.caduceus {
    width: 35px;
    height: auto;
    padding: 0px;
    margin: 0px;
    background: center / contain no-repeat url("../assets/assets/caduceus.png");
}


.description {
    margin-top: 2rem;
    text-align: justify;
    color: var(--sand-hex);
    width: fit-content;
    display: block;
    font-size: .85rem;
}

.icon-container {
    margin-top: 2rem;
}

.icon-container>.information-border {
    border: none;
    padding: 0px;
}

.information {
    border-right: 1px solid var(--sand-hex);
    font-size: 1.5rem;
    padding-right: calc(13% - (35px / 4));
}

.spells-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    min-width: 100vw;
    top: 0px;
    background-color: #151515;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#24170a 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #24170a 0.8px, rgba(0, 0, 0, 1) 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.spell-card-container {
    height: clamp(400px, 90vh, 1040px);
    width: fit-content;
    background-color: black;
    max-width: min-content;
    line-height: 2;
    text-align: center;
    /* padding: 2em; */
    border-radius: 20px;
    border: 2px solid var(--sand-hex);
    padding: 5rem;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spell-card-container>img {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: solid rgba(67, 54, 38, .30) 5px;
    border-radius: 25px;
    box-shadow: var(--shadow-elevation-medium);
    max-height: 70%;
    max-width: 95vw;
    width: auto;
}

.icon-container {
    color: var(--sand-hex);
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 2rem);
    margin: 2rem auto auto auto;
}

/* controls the front back flip animation */
.card-front-back-container {
    width: 28.55vw;
    height: auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1500px;
    top: 5vh;
}

.flip {
    transform: rotateY(180deg);
}

.spell-card-front {
    background: url("../assets/assets/cards_small/front.png");
    width: 100%;
    height: clamp(400px, 90vh, 1040px);
    background-color: black;
    border-radius: 20px;
    border: 2px solid var(--sand-hex);
    padding: 5rem;
    background-size: 132%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    /* z-index: 500; */
    backface-visibility: hidden;
    transition: all 1500ms;
}

.spell-card-back {
    position: absolute;
    /* z-index: 500; */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 1500ms;
}

.skull {
    width: 35px;
    height: auto;
    padding: 0px;
    margin: 0px;
    background: center / contain no-repeat url("../assets/assets/skull.png");
}

.sword {
    width: 35px;
    height: auto;
    padding: 0px;
    margin: 0px;
    background: center / contain no-repeat url("../assets/assets/sword.png");
}

.xp {
    width: 35px;
    height: auto;
    padding: 0px;
    margin: 0px;
    background: center / contain no-repeat url("../assets/assets/xp.png");
}

.xp-container {
    color: var(--sand-hex);
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}